<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meadowlark Travel</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
 
</head>

<body>
    <header>
        <img src="/img/images.png" alt="Logo">
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/product">Product</a>
    </nav>
    {{{body}}}
</body>

</html>