<div class="container">
    <h2>Form Register</h2>
    <form action="/process-contact" method="post">
        <label for="fullName">Name</label>
        <input type="text" id="fullName" name="fullName" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">register</button>
    </form>
</div>